<% content_for :landing do %>
    <%= render 'layouts/landing' %>
<% end %>

<div class="col-md-12 nomargin  nopadding">
    <div class="wrapper">
        <div id="slides" class="rslides_container">
            <ul id="slider" class="rslides centered-btns centered-btns1">
                <% @slides.each do |slide| %>
                    <li>
                        <%= image_tag slide.image, 
                            :class => "slide_image b-lazy" , 
                            :alt => slide.title
                        %>

                        <div class="slide_item">
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <% if slide.description %>
                                    <h1><%= slide.description %></h1>
                                <% end %>

                                <% if slide.url %>
                                    <a class="action_button" href="<%= slide.url %>"><%= t('view_product') %> 
                                        <%= image_tag 'right_arrow',
                                            :alt => t('right_arrow')
                                        %>
                                    </a>
                                <% end %>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>

    </div>
</div>



<div class="col-md-12 gallery_second">
    <div class="wrapper ">
        <h1 id="products" class="index_h1_margin capital center">Special offers</h1>
        <%= render 'layouts/products' %>
    </div>
</div>


<%= render 'layouts/proud' %>

<div class="col-md-12 center shops">
    <div class="wrapper">
        <h1 class="margin_bottom_100 align-center capital stockists">Find our products in these stores</h1>
        <div class="">
            <% @stockists.each do |chunk| %>
                <div class="col-md-12">
                    <div class="col-md-1"></div>

                    <% chunk.each do |stockist| %>
                        <div class="col-md-2 stockist_icon">
                            <%= image_tag stockist.thumbnail, size: '150x150' %>
                        </div>
                    <% end %>

                    <div class="col-md-1"></div>
                </div>
             <% end %>

        </div>
    </div>
</div>

<%= render 'layouts/ingredient_origin' %>

<% content_for :scripts do %>
    <script>
        $('#slider').responsiveSlides({
            pager: true,
            speed: 2000,            // Integer: Speed of the transition, in milliseconds
            // nav: true,
            namespace: "centered-btns"
        });
    </script>

<% end %>

