<% content_for :links do %>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.css"/>
    <% stylesheet_link_tag 'drop-theme-arrows.css' %>
<% end %>

<div class="col-md-12">
    <div class="wrapper">
        <div class="col-md-1"></div>
        <div class="col-md-5 overflow_protector">
            <%= link_to @product.thumbnail, 
                :data => {
                    lightbox: 'image-1', 
                    title: @product.title
                } do %>
               <%= image_tag @product.thumbnail, alt: @product.title, size: '720x450', crop: 'fit' %>
            <% end %>
            
            <div class="col-md-12 nopadding">
                <% @product.product_images.each do |image| %>
                    <div class="col-md-3 nopadding pull-left related_container" 
                        style="padding:5px; max-width:150px; overflow:hidden;display:inline-block">
                        <%= link_to @product.thumbnail, 
                            :data => {
                                lightbox: 'image-1', 
                                title: @product.title
                            } do %>
                           <%= image_tag @product.thumbnail, alt: @product.title, size: '150x150', crop: 'fit' %>
                        <% end %>

                </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-5">
            <h1 class='product_title'><%= @product.title %></h1>
            <p class="green_text inline_block">
                <span id="option_price"><%= number_to_currency(@option.price, :unit => "£") %></span>
            </p>
            <div class="col-md-12 nopadding">
                <div class="col-md-6 nopadding">
                    <form class="col-md-12 nopadding" method="POST">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <div class="col-md-8 nopadding_left">
                            <select class="generic_input option_dropdown" name="option" onchange="this.form.submit()">
                            <% @product.product_options.each do |opt| %>
                                <option <% if opt.slug == @option.slug %> selected <% end %> value="<%= opt.slug %>"><%= opt.title %></option>
                            <% end %>
                            </select>
                        </div>

                        <div class="col-md-4 nopadding_right">
                            <input class="generic_input" id="product_quantity" type="number" name="quantity"  value="1"/>
                        </div>
                    </form>

                </div>
                <div class="col-md-6 nopadding">
                    <div class="product_added_trigger"><p>Item added</p></div>
                    <button id="add_to_cart_button" class="generic_submit btn btn-success add_to_cart"
                            onclick="add_to_cart('{{$product->slug}}', '{{$option->slug}}', '{!! route('add_to_cart') !!}')">
                                + Add to cart
                    </button>
                </div>

               <div class="col-lg-12 product_nav nopadding">
                    <ul class="nav nav-tabs" id="product_information">
                        <li class="active"><a id="description_toggle" data-toggle="tab" href="#description" class="capital" >Description</a></li>
                        <li><a id="ingredient_toggle" class="capital" data-toggle="tab" href="#ingredients">Ingredients</a></li>
                        <li><a id="tips_toggle" class="capital" data-toggle="tab" href="#tipsforuse">Tips</a></li>
                        <li><a id="benefits_toggle" class="capital" data-toggle="tab" href="#benefits">Benefits</a></li>
                    </ul>
               </div>

               <div class="col-md-12 tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <p><%= @product.description %></p>
                    </div>

                    <div id="ingredients" class="tab-pane fade">
                        <div class="col-md-12">
                            <% @product.ingredients.each do |ingredient| %>
                                <div class="col-sm-6 ingredient_label_container" id="<%= ingredient.slug %>">
                                    <span class="ingredient_tip">
                                        <% image_tag 'ingr-tip.svg', alt: "Ingredient tip" %>
                                    </span>
                                    <div class="ingredients_bg col-md-4 product_ingredient thumbnail" id="<%= ingredient.slug %>">
                                        <%= truncate(ingredient.title, :length => 15) %>
                                    </div>
                                </div>

                            <% end %>
                        </div>
                    </div>
                    <div id="tipsforuse" class="tab-pane fade">
                        <p><%= @product.tips %></p>
                    </div>
                    <div id="benefits" class="tab-pane fade">
                        <p><%= @product.benefits %></p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="tag"><%= @product.tags %>    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>

<% content_for :scripts do %>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            <% @product.ingredients.each do |ingredient| %>
                var html_content = "<div class='ingr-pop'>";
                html_content += '<%= image_tag ingredient.thumbnail, size:'200x200', crop: 'fit', alt: ingredient.title %>'
                html_content +=         "<h1><%= ingredient.title %></h1>";
                html_content +=           '<%= ingredient.description %>';
                html_content +=      "</div>";
                drop = new Drop({
                    target: document.querySelector('#<%= ingredient.slug %>'),
                    position: 'bottom left',
                    openOn: 'click',
                    content: html_content
                });
            <% end %>
        });
    </script>
<% end %>