
<div class="col-sm-12">
    <div class="wrapper">
        <div class="col-md-12 menu">
            <div id="menu_logo_container">
                
                <%= link_to root_path do %>
                    <%= image_tag 'neven_logo.png',
                        :class => "b-lazy",
                        :alt => t('neven_logo_alt')
                    %>
                    <h1 class="capital nomargin logo_title">neven</h1>
                <% end %>

            </div>
        </div>

        <div class="col-md-12 main_menu">
            <div class="col-md-1"></div>
            <div class="col-sm-6 menu_links">
                <a class="hamburger_toggle toggle-nav glyphicon glyphicon-menu-hamburger" href="#"></a>

                <ul class="menu_links_ul">
                    <li class="active mobieicon_align">
                        <a href="<%= root_path %>"><span title="Home" class="menu_icon mobile_only home_mobile_icon" ></span><%= t('home') %></a>
                    </li>
                    <li class="dropdown mobieicon_align">

                        <button class="menu_button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span title="Categories" class="menu_icon mobile_only categories_mobile_icon" ></span>
                            <%= t('text.categories') %>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to 'All products', products_path %></li>
                            <% @categories.each do |category| %>
                                <li>
                                    <%= link_to category.title, category_path(category.slug)  %>
                                </li>
                            <% end %>
                        </ul>

                    </li>

                    <li class="dropdown mobieicon_align">
                        <button class="menu_button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="menu_icon mobile_only stockist_mobile_icon" title="Stockists" ></span>Stockists
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li> <%= link_to 'Stockists', stockists_path %> </li>
                            <li><a href="#">Become a stockist</a></li>
                        </ul>
                    </li>

                    <li class="mobieicon_align">
                        <a href="#">
                            <span class="menu_icon mobile_only aboutus_mobile_icon" title="About us" ></span>
                            About us
                        </a>
                    </li>

                    <li class="mobieicon_align">
                        <a href="#">
                            <span title="Contact us" class="menu_icon mobile_only contact_mobile_icon" ></span>
                            Contact us
                        </a>
                    </li>

                    <li class="mobieicon_align">
                        <a href="#">
                            <span title="Blog" class="menu_icon mobile_only blog_mobile_icon" ></span>
                            Blog
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-md-3 menu_links">
                <ul class="menu_links_ul align_right mobile_left">
                    <li class="mobieicon_align">
                        <a href="#">
                            <%= image_tag 'menu/cart.svg', 
                                :alt => 'Cart icon', 
                                :class => 'cart_icon' 
                            %>
                            <span class="cart_count"> <span class="counter_number">N/A</span></span>
                        </a>
                    </li>
                    
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to 'Log out', destroy_user_session_path, 
                                :method => 'delete', 
                                :id => 'log_out_button' 
                            %>
                        </li>
                        <li class="logged_user"><%= current_user.username %></li>

                    <% else %>
                        <li class="mobieicon_align">

                            <%= link_to new_user_session_path, :class => 'login_button'  do %>
                                <span class="menu_icon mobile_only signin_mobile_icon"></span>
                                Log in
                            <% end %>
                        </li>

                        <li class="mobieicon_align">
                            <%= link_to new_user_registration_path do %>
                                <span title="Sign up" class="menu_icon mobile_only signup_mobile_icon" ></span>
                                Sign up
                            <% end %>
                        </li>
                    <% end %>

                </ul>

            </div>
            <div class="col-md-1 menu_links">
                <form  id="search_form" class="" role="search" method="GET" action="#">
                    <input id="search_input" placeholder='Search' size=10 type="text" name="term" class=""/>
                    <input src="/assets/search.svg" id="search_submit" size=1 type="image" class="btn-default" alt="Search icon"/>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
