
<div class="col-sm-12">
    <div class="wrapper">
        <div class="col-md-12 menu">
            <div id="menu_logo_container">
                
                <%= link_to root_path do %>
                    <%= image_tag 'neven_logo.png',
                        :class => "b-lazy",
                        :alt => t('neven_logo_alt')
                    %>
                    <h1 class="capital nomargin logo_title">neven</h1>
                <% end %>

            </div>
        </div>

        <div class="col-md-12 main_menu">
            <div class="col-md-1"></div>
            <div class="col-sm-6 menu_links">
                <a class="hamburger_toggle toggle-nav glyphicon glyphicon-menu-hamburger" href="#"></a>

                <ul class="menu_links_ul">
                    <li class="active mobieicon_align">
                        <a href="<%= root_path %>"><span title="Home" class="menu_icon mobile_only home_mobile_icon" ></span><%= t('home') %></a>
                    </li>
                    <li class="dropdown mobieicon_align">

                        <button class="menu_button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span title="Categories" class="menu_icon mobile_only categories_mobile_icon" ></span>
                            <%= t('text.categories') %>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><%= link_to 'All products', products_path %></li>
                            <% @categories.each do |category| %>
                                <li>
                                    <%= link_to category.title, category_path(category.slug)  %>
                                </li>
                            <% end %>
                        </ul>

                    </li>

                    <li class="dropdown mobieicon_align">
                        <button class="menu_button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="menu_icon mobile_only stockist_mobile_icon" title="Stockists" ></span>Stockists
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li> <%= link_to 'Stockists', stockists_path %> </li>
                            <li><a href="{{route('stockist')}}">{{ trans('text.become_stockist')}}</a></li>
                        </ul>
                    </li>

                    <li class="mobieicon_align">
                        <a href="{{ route('about') }}"><span class="menu_icon mobile_only aboutus_mobile_icon" title="{{ trans('text.about_us') }}" ></span>{{ trans('text.about_us') }}
                        </a>
                    </li>

                    <li class="mobieicon_align">
                        <a href="{{ route('contact') }}"><span title="{{trans('text.contact')}}" class="menu_icon mobile_only contact_mobile_icon" ></span>{{ trans('text.contact_us') }}
                        </a>
                    </li>

                    <li class="mobieicon_align">
                        <a href="{{route('blog.index')}}"><span title="{{trans('text.blog')}}" class="menu_icon mobile_only blog_mobile_icon" ></span>{{ trans('text.blog') }}
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-md-3 menu_links">
                <ul class="menu_links_ul align_right mobile_left">
                    <li class="mobieicon_align">
                        <a href="{{ route('cart', []) }}">
                            <img src="{{asset('images/menu/cart.svg')}}" alt="Cart icon" class="cart_icon"/>
                            <span class="cart_count"> <span class="counter_number">{{Cart::count()}}</span></span>
                        </a>

                    </li>
                    
                    @if(!Auth::check())
                        <li class="mobieicon_align">
                            <a title="{{trans('text.sign_in_alt')}}" class="login_button" href="{{ route('auth.login') }}"><span class="menu_icon mobile_only signin_mobile_icon"></span>{{ trans('text.log_in')}}
                            </a>
                        </li>

                        <li class="mobieicon_align">
                            <a href="{{ route('auth.register') }}"><span title="{{ trans('text.sign_up_alt')}}" class="menu_icon mobile_only signup_mobile_icon" >
                            </span>{{ trans('text.sign_up')}}</a>
                        </li>

                    @else
                        <li><a id="log_out_button" href="{{ route('auth.logout') }}">{{ trans('text.log_out')}}</a></li>
                        <li class="logged_user">{{ Auth::user()->name }}</li>
                    @endif

                </ul>

            </div>
            <div class="col-md-1 menu_links">
                <form  id="search_form" class="" role="search" method="GET" action="{{ route('search') }}">
                    <input id="search_input" placeholder={{trans('text.search')}} size=10 type="text" name="term" class=""/>
                    <input src="/images/search.svg" id="search_submit" size=1 type="image" class="btn-default" alt="{{trans('text.search_icon_all')}}"/>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
