<div class="col-md-12 disclaimers">
    <div class="wrapper ">
        <div class="proud">
            <h1 class="white">Proud to be</h1>
            <div class="col-md-12 row-fluid icons">
                <div class="col-md-1"></div>
                <div class="col-md-2 proud_to">
                    <%= image_tag "proud_cold_processed.png", alt: 'Cold processed' %>
                    <p>Cold processed</p>
                </div>

                <div class="col-md-2 proud_to">
                    <%= image_tag "proud_no_syntetic.png", alt: 'No syntetics' %>
                    <p>No syntetics</p>
                </div>

                <div class="col-md-2 proud_to">
                    <%= image_tag "proud_no_fillers.png", alt: 'No fillers' %>
                    <p>No fillers</p>
                </div>

                <div class="col-md-2 proud_to">
                    <%= image_tag "proud_vegan.png", alt: 'Vegan' %>
                    <p>Vegan</p>
                </div>

                <div class="col-md-2 proud_to">
                    <%= image_tag "proud_cruelty_free.png", alt: 'Cruelty free' %>
                    <p>Cruelty free</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <a class="green_link white" href="">learn more</a>
        </div>
    </div> 
</div>